$size: 150px
body
  width: 80%
  margin: 0 auto

ul.photogallery
  list-style: none
  width: 100%
  padding: 0
  li
    overflow: hidden
    float: left
    margin: 5px
    width:  $size
    height: $size
    a
      img
        position: relative
        top: -$size
        width:  100%
      img:hover
        top: 0px
      h3
        position: absolute
        margin: -($size + 34px) 0
        background: rgba(0, 0, 0, 0.7)
        padding: 5px
        word-wrap: break-word
        color: #fff
        width:  $size - 10px
        max-height: 20px
.new_image
  clear: both
  
